/*** Cities ***/
/*Pallet Town*/
#NPC_GIFT_GOT_TOWN_MAP {
	left: 10.80089485458613%;
	top: 66.8125%;
}
#oaks_lab {
	left: 10.94407158836689%;
	top: 68.328125%;
}
#PC_ITEM_POTION {
	left: 9.512304250559284%;
	top: 66.8125%;
}
/*Viridian City*/
#NPC_GIFT_GOT_TEACHY_TV {
	left: 9.941834451901565%;
	top: 46.5625%;
}
#ITEM_VIRIDIAN_CITY_POTION {
	left: 9.369127516778523%;
	top: 46.40625%;
}
#viridian_gym {
	left: 12.089485458612975%;
	top: 47.546875%;
}
#NPC_GIFT_GOT_OAKS_PARCEL {
	left: 12.089485458612975%;
	top: 49.796875%;
}
/*Pewter City*/
#HIDDEN_ITEM_PEWTER_CITY_POKE_BALL {
	left: 7.7225950782997765%;
	top: 15.78125%;
}
#NPC_GIFT_GOT_OLD_AMBER {
	left: 10.51454138702461%;
	top: 16.0625%;
}
#pewter_gym {
	left: 9.082774049217003%;
	top: 19.046875%;
}
#NPC_GIFT_GOT_RUNNING_SHOES {
	left: 13.548098434004475%;
	top: 20.046875%;
}
/*Cerulean City*/
#NPC_GIFT_GOT_FAME_CHECKER {
	left: 41.14541387024609%;
	top: 11.578125%;
}
#HIDDEN_ITEM_CERULEAN_CITY_RARE_CANDY {
	left: 40.43847874720358%;
	top: 11.875%;
}
#NPC_GIFT_GOT_TM28_FROM_ROCKET {
	left: 42.577181208053695%;
	top: 11.546875%;
}
#cerulean_gym {
	left: 42.29082774049217%;
	top: 15.296875%;
}
#NPC_GIFT_GOT_BICYCLE {
	left: 39.785234899328856%;
	top: 17.09375%;
}
#NPC_GIFT_GOT_POWDER_JAR {
	left: 40.28635346756152%;
	top: 12.859375%;
}
#cerulean_cave {
	left: 37.99552572706935%;
	top: 13.0625%;
}
/*Vermilion City*/
#HIDDEN_ITEM_VERMILION_CITY_MAX_ETHER {
	left: 39.86577181208054%;
	top: 52.828125%;
}
#NPC_GIFT_GOT_OLD_ROD {
	left: 39.14093959731544%;
	top: 51.625%;
}
#NPC_GIFT_GOT_VS_SEEKER {
	left: 40.0%;
	top: 51.546875%;
}
#NPC_GIFT_GOT_BIKE_VOUCHER {
	left: 39.57046979865772%;
	top: 54.375%;
}
#vermilion_gym {
	left: 39.85682326621924%;
	top: 56.296875%;
}
#ss_anne {
	left: 41.13646532438479%;
	top: 59.765625%;
}
/*Lavender Town*/
#NPC_GIFT_GOT_POKE_FLUTE {
	left: 55.74944071588367%;
	top: 36.609375%;
}
#pokemon_tower {
	left: 57.61073825503356%;
	top: 34.109375%;
}
/*Celadon City*/
#ITEM_CELADON_CITY_ETHER {
	left: 26.5413870246085%;
	top: 30.90625%;
}
#HIDDEN_ITEM_CELADON_CITY_PP_UP {
	left: 33.63758389261745%;
	top: 35.140625%;
}
#celadon_department_store {
	left: 27.973154362416107%;
	top: 33.53125%;
}
#NPC_GIFT_GOT_TEA {
	left: 30.120805369127517%;
	top: 32.875%;
}
#celadon_gym {
	left: 27.400447427293066%;
	top: 37.546875%;
}
#NPC_GIFT_GOT_COIN_CASE {
	left: 31.123042505592842%;
	top: 37.375%;
}
#celadon_game_corner_rocket_hideout {
	left: 30.69351230425056%;
	top: 35.296875%;
}
/*Saffron City*/
#HIDDEN_ITEM_SAFFRON_CITY_COPYCATS_HOUSE_2F_NUGGET {
	left: 39.57046979865772%;
	top: 31.859375%;
}
#saffron_gym {
	left: 43.006711409395976%;
	top: 31.296875%;
}
#NPC_GIFT_GOT_TM29_FROM_MR_PSYCHIC {
	left: 42.577181208053695%;
	top: 37.859375%;
}
#silph_co {
	left: 41.14541387024609%;
	top: 35.84375%;
}
/*Fuchsia City*/
#HIDDEN_ITEM_FUCHSIA_CITY_MAX_REVIVE {
	left: 32.25950782997763%;
	top: 81.59375%;
}
#wardens_house {
	left: 32.26845637583892%;
	top: 82.84375%;
}
#fuchsia_gym {
	left: 28.83221476510067%;
	top: 83.046875%;
}
#NPC_GIFT_GOT_GOOD_ROD {
	left: 32.98434004474273%;
	top: 82.84375%;
}
#safari_zone {
	left: 30.97986577181208%;
	top: 76.359375%;
}
/*Cinnabar Island*/
#cinnabar_gym {
	left: 11.516778523489933%;
	top: 96.046875%;
}
#pokemon_mansion {
	left: 9.798657718120806%;
	top: 95.90625%;
}
#EVENT_DEFEAT_BLUE {
	left: 1.6375838926174497%;
	top: 4.125%;
}
/*** Routes ***/
/*1*/
#NPC_GIFT_GOT_POTION_ON_ROUTE_1 {
	left: 9.512304250559284%;
	top: 62.015625%;
}
/*2*/
#viridian_forest {
	left: 9.440715883668904%;
	top: 37.765625%;
}
#ITEM_ROUTE2_ETHER {
	left: 11.087248322147651%;
	top: 38.65625%;
}
#ITEM_ROUTE2_PARALYZE_HEAL {
	left: 11.087248322147651%;
	top: 41.15625%;
}
#NPC_GIFT_GOT_HM05 {
	left: 11.302013422818792%;
	top: 36.53125%;
}
/*3*/
#HIDDEN_ITEM_ROUTE3_ORAN_BERRY {
	left: 17.530201342281877%;
	top: 19.875%;
}
/*4*/
#mt_moon {
	left: 25.109619686800894%;
	top: 13.8125%;
}
#HIDDEN_ITEM_ROUTE4_PERSIM_BERRY {
	left: 23.114093959731544%;
	top: 13.625%;
}
#HIDDEN_ITEM_ROUTE4_GREAT_BALL {
	left: 28.519015659955258%;
	top: 13.09375%;
}
#HIDDEN_ITEM_ROUTE4_RAZZ_BERRY {
	left: 31.991051454138702%;
	top: 16.875%;
}
#ITEM_ROUTE4_TM05 {
	left: 31.982102908277405%;
	top: 13.90625%;
}
/*5*/
#underground_path_north_south {
	left: 42.29082774049217%;
	top: 27.875%;
}
/*6*/
#HIDDEN_ITEM_ROUTE6_SITRUS_BERRY {
	left: 40.29530201342282%;
	top: 41.375%;
}
#HIDDEN_ITEM_ROUTE6_RARE_CANDY {
	left: 42.29082774049217%;
	top: 41.375%;
}
/*7*/
#HIDDEN_ITEM_ROUTE7_WEPEAR_BERRY {
	left: 36.7158836689038%;
	top: 36.375%;
}
/*8*/
#underground_path_east_west {
	left: 46.58612975391499%;
	top: 33.625%;
}
#HIDDEN_ITEM_ROUTE8_LUM_BERRY {
	left: 50.1744966442953%;
	top: 35.375%;
}
#HIDDEN_ITEM_ROUTE8_RAWST_BERRY {
	left: 50.74720357941835%;
	top: 35.125%;
}
#HIDDEN_ITEM_ROUTE8_LEPPA_BERRY {
	left: 50.74720357941835%;
	top: 36.375%;
}
/*9*/
#ITEM_ROUTE9_TM40 {
	left: 46.442953020134226%;
	top: 16.90625%;
}
#HIDDEN_ITEM_ROUTE9_ETHER {
	left: 46.8903803131991%;
	top: 14.34375%;
}
#ITEM_ROUTE9_BURN_HEAL {
	left: 54.03131991051454%;
	top: 16.90625%;
}
#HIDDEN_ITEM_ROUTE9_CHESTO_BERRY {
	left: 51.60626398210291%;
	top: 13.125%;
}
#HIDDEN_ITEM_ROUTE9_RARE_CANDY {
	left: 53.718120805369125%;
	top: 13.125%;
}
/*10*/
#rock_tunnel {
	left: 56.17897091722595%;
	top: 26.796875%;
}
#power_plant {
	left: 56.03579418344519%;
	top: 22.625%;
}
#HIDDEN_ITEM_ROUTE10_PERSIM_BERRY {
	left: 57.47651006711409%;
	top: 19.875%;
}
#HIDDEN_ITEM_ROUTE10_CHERI_BERRY {
	left: 55.90156599552573%;
	top: 19.125%;
}
#HIDDEN_ITEM_ROUTE10_SUPER_POTION {
	left: 56.46532438478747%;
	top: 17.3125%;
}
#HIDDEN_ITEM_ROUTE10_NANAB_BERRY {
	left: 57.90604026845637%;
	top: 26.875%;
}
#HIDDEN_ITEM_ROUTE10_MAX_ETHER {
	left: 56.76062639821029%;
	top: 22.5625%;
}
#route_10_pokemon_center {
	left: 56.89485458612975%;
	top: 17.609375%;
}
/*11*/
#ITEM_ROUTE11_AWAKENING {
	left: 46.58612975391499%;
	top: 53.40625%;
}
#ITEM_ROUTE11_X_DEFEND {
	left: 50.738255033557046%;
	top: 55.65625%;
}
#HIDDEN_ITEM_ROUTE11_ESCAPE_ROPE {
	left: 53.029082774049215%;
	top: 53.828125%;
}
#ITEM_ROUTE11_GREAT_BALL {
	left: 53.74496644295302%;
	top: 55.90625%;
}
#NPC_GIFT_GOT_ITEMFINDER {
	left: 53.100671140939596%;
	top: 55.109375%;
}
/*12*/
#HIDDEN_ITEM_ROUTE12_HYPER_POTION {
	left: 57.61073825503356%;
	top: 51.8125%;
}
#HIDDEN_ITEM_ROUTE12_LEFTOVERS {
	left: 57.038031319910516%;
	top: 55.078125%;
}
#ITEM_ROUTE12_TM48 {
	left: 57.61073825503356%;
	top: 46.65625%;
}
#ITEM_ROUTE12_IRON {
	left: 56.32214765100671%;
	top: 62.90625%;
}
#HIDDEN_ITEM_ROUTE12_RARE_CANDY {
	left: 56.32214765100671%;
	top: 66.640625%;
}
#NPC_GIFT_GOT_SUPER_ROD {
	left: 56.75167785234899%;
	top: 59.125%;
}
#NPC_GIFT_GOT_TM27 {
	left: 57.038031319910516%;
	top: 42.765625%;
}
/*13*/
#HIDDEN_ITEM_ROUTE13_PP_UP {
	left: 51.45413870246085%;
	top: 71.140625%;
}
/*14*/
#HIDDEN_ITEM_ROUTE14_PINAP_BERRY {
	left: 47.45413870246085%;
	top: 80.875%;
}
#HIDDEN_ITEM_ROUTE14_ZINC {
	left: 46.022371364653246%;
	top: 72.65625%;
}
/*15*/
#ITEM_ROUTE15_TM18 {
	left: 37.27964205816555%;
	top: 79.15625%;
}
#NPC_GIFT_GOT_EXP_SHARE_FROM_OAKS_AIDE {
	left: 36.644295302013425%;
	top: 80.34375%;
}
/*16*/
#HIDDEN_ITEM_ROUTE16_LEFTOVERS {
	left: 23.39149888143177%;
	top: 35.828125%;
}
#NPC_GIFT_GOT_HM02 {
	left: 20.384787472035793%;
	top: 33.875%;
}
#NPC_GIFT_GOT_AMULET_COIN_FROM_OAKS_AIDE {
	left: 22.75615212527964%;
	top: 35.828125%;
}
/*17*/
#HIDDEN_ITEM_ROUTE17_FULL_RESTORE {
	left: 20.40268456375839%;
	top: 50.84375%;
}
#HIDDEN_ITEM_ROUTE17_PP_UP {
	left: 19.427293064876956%;
	top: 54.609375%;
}
#HIDDEN_ITEM_ROUTE17_RARE_CANDY {
	left: 21.449664429530202%;
	top: 58.359375%;
}
#HIDDEN_ITEM_ROUTE17_MAX_REVIVE {
	left: 19.427293064876956%;
	top: 68.859375%;
}
#HIDDEN_ITEM_ROUTE17_MAX_ELIXIR {
	left: 20.993288590604028%;
	top: 76.828125%;
}
/*20*/
#seafoam_islands {
	left: 22.39821029082774%;
	top: 98.5625%;
}
#HIDDEN_ITEM_ROUTE20_STARDUST {
	left: 15.38255033557047%;
	top: 96.5625%;
}
/*21*/
#HIDDEN_ITEM_ROUTE21_NORTH_PEARL {
	left: 11.105145413870247%;
	top: 80.671875%;
}
/*23*/
#victory_road {
	left: 0.7785234899328859%;
	top: 14.5625%;
}
#HIDDEN_ITEM_ROUTE23_LEPPA_BERRY {
	left: 0.5011185682326622%;
	top: 39.625%;
}
#HIDDEN_ITEM_ROUTE23_MAX_ETHER {
	left: 1.6375838926174497%;
	top: 32.921875%;
}
#HIDDEN_ITEM_ROUTE23_ULTRA_BALL {
	left: 2.9261744966442955%;
	top: 25.546875%;
}
#HIDDEN_ITEM_ROUTE23_ASPEAR_BERRY {
	left: 1.5033557046979866%;
	top: 24.375%;
}
#HIDDEN_ITEM_ROUTE23_FULL_RESTORE {
	left: 2.80089485458613%;
	top: 18.09375%;
}
#HIDDEN_ITEM_ROUTE23_SITRUS_BERRY {
	left: 0.3579418344519016%;
	top: 14.875%;
}
#HIDDEN_ITEM_ROUTE23_LUM_BERRY {
	left: 0.5011185682326622%;
	top: 12.125%;
}
#HIDDEN_ITEM_ROUTE23_MAX_ELIXIR {
	left: 1.360178970917226%;
	top: 9.640625%;
}
/*24*/
#NPC_GIFT_GOT_NUGGET_FROM_ROCKET_GRUNT {
	left: 41.27069351230425%;
	top: 3.8125%;
}
#ITEM_ROUTE24_TM45 {
	left: 41.14541387024609%;
	top: 1.15625%;
}
#HIDDEN_ITEM_ROUTE24_PECHA_BERRY {
	left: 42.29977628635347%;
	top: 1.15625%;
}
/*25*/
#HIDDEN_ITEM_ROUTE25_ELIXIR {
	left: 45.01118568232662%;
	top: 0.65625%;
}
#ITEM_ROUTE25_TM43 {
	left: 46.72930648769575%;
	top: 0.65625%;
}
#HIDDEN_ITEM_ROUTE25_ORAN_BERRY {
	left: 47.74049217002237%;
	top: 2.125%;
}
#HIDDEN_ITEM_ROUTE25_BLUK_BERRY {
	left: 48.742729306487696%;
	top: 0.875%;
}
#HIDDEN_ITEM_ROUTE25_ETHER {
	left: 51.30201342281879%;
	top: 1.53125%;
}
#bills_house {
	left: 50.308724832214764%;
	top: 1.328125%;
}

/*** Islands ***/
/*One*/
/*Mt. Ember*/
#HIDDEN_ITEM_MT_EMBER_EXTERIOR_ULTRA_BALL {
	left: 62.29977628635347%;
	top: 10.625%;
}
#ITEM_MT_EMBER_EXTERIOR_DIRE_HIT {
	left: 68.02684563758389%;
	top: 8.15625%;
}
#ITEM_MT_EMBER_EXTERIOR_FIRE_STONE {
	left: 66.59507829977629%;
	top: 5.65625%;
}
#HIDDEN_ITEM_MT_EMBER_EXTERIOR_FIRE_STONE {
	left: 63.74049217002237%;
	top: 7.34375%;
}
#ITEM_MT_EMBER_EXTERIOR_ULTRA_BALL {
	left: 63.01565995525727%;
	top: 4.65625%;
}
#NPC_GIFT_GOT_RUBY {
	left: 67.16778523489933%;
	top: 12.796875%;
}
#one_island_pokemon_center {
	left: 62.15659955257271%;
	top: 47.875%;
}
#treasure_beach {
	left: 61.73601789709172%;
	top: 58.625%;
}
#ITEM_ONE_ISLAND_KINDLE_ROAD_MAX_REPEL {
	left: 66.02237136465324%;
	top: 42.40625%;
}
#ITEM_ONE_ISLAND_KINDLE_ROAD_CARBOS {
	left: 66.165548098434%;
	top: 45.15625%;
}
#ITEM_ONE_ISLAND_KINDLE_ROAD_ETHER {
	left: 65.73601789709173%;
	top: 34.15625%;
}
#NPC_GIFT_GOT_HM06 {
	left: 65.73601789709173%;
	top: 31.0625%;
}
/*Two*/
#ITEM_TWO_ISLAND_REVIVE {
	left: 76.0089485458613%;
	top: 17.15625%;
}
#joyful_game_corner {
	left: 76.0089485458613%;
	top: 15.296875%;
}
#HIDDEN_ITEM_TWO_ISLAND_CAPE_BRINK_RARE_CANDY {
	left: 76.02684563758389%;
	top: 6.359375%;
}
#HIDDEN_ITEM_TWO_ISLAND_CAPE_BRINK_PP_MAX {
	left: 76.17002237136465%;
	top: 10.109375%;
}
/*Three*/
#berry_forest {
	left: 80.13422818791946%;
	top: 4.34375%;
}
#dunsparce_tunnel {
	left: 94.38031319910515%;
	top: 14.0625%;
}
#NPC_GIFT_GOT_FULL_RESTORE_FROM_THREE_ISLAND_DEFENDER {
	left: 93.1096196868009%;
	top: 9.0625%;
}
#ITEM_THREE_ISLAND_ZINC {
	left: 94.66666666666667%;
	top: 7.40625%;
}
#HIDDEN_ITEM_THREE_ISLAND_PP_UP {
	left: 92.85906040268456%;
	top: 6.34375%;
}
#HIDDEN_ITEM_THREE_ISLAND_BOND_BRIDGE_MAX_REPEL {
	left: 87.08724832214764%;
	top: 4.34375%;
}
#HIDDEN_ITEM_THREE_ISLAND_BOND_BRIDGE_PEARL {
	left: 84.67114093959732%;
	top: 6.078125%;
}
#HIDDEN_ITEM_THREE_ISLAND_BOND_BRIDGE_STARDUST {
	left: 83.05145413870247%;
	top: 4.9375%;
}
/*Four*/
#icefall_cave {
	left: 74.13870246085011%;
	top: 24.046875%;
}
#HIDDEN_ITEM_FOUR_ISLAND_PEARL {
	left: 71.84787472035794%;
	top: 29.59375%;
}
#HIDDEN_ITEM_FOUR_ISLAND_ULTRA_BALL {
	left: 69.73601789709173%;
	top: 24.078125%;
}
#ITEM_FOUR_ISLAND_STAR_PIECE {
	left: 69.41387024608501%;
	top: 22.65625%;
}
#ITEM_FOUR_ISLAND_STARDUST {
	left: 73.27964205816555%;
	top: 25.90625%;
}
/*Five*/
#rocket_warehouse {
	left: 90.11185682326622%;
	top: 37.09375%;
}
#lost_cave {
	left: 93.98657718120805%;
	top: 25.046875%;
}
#ITEM_FIVE_ISLAND_MEADOW_MAX_POTION {
	left: 90.11185682326622%;
	top: 34.65625%;
}
#ITEM_FIVE_ISLAND_MEADOW_PP_UP {
	left: 88.82326621923937%;
	top: 37.40625%;
}
#HIDDEN_ITEM_FIVE_ISLAND_MEMORIAL_PILLAR_RAZZ_BERRY {
	left: 93.98657718120805%;
	top: 38.625%;
}
#HIDDEN_ITEM_FIVE_ISLAND_MEMORIAL_PILLAR_BLUK_BERRY {
	left: 93.8434004474273%;
	top: 43.125%;
}
#HIDDEN_ITEM_FIVE_ISLAND_MEMORIAL_PILLAR_SITRUS_BERRY {
	left: 94.27293064876957%;
	top: 42.375%;
}
#NPC_GIFT_GOT_TM42_AT_MEMORIAL_PILLAR {
	left: 93.1006711409396%;
	top: 47.78125%;
}
#ITEM_FIVE_ISLAND_MEMORIAL_PILLAR_METAL_COAT {
	left: 92.40268456375838%;
	top: 48.65625%;
}
#HIDDEN_ITEM_FIVE_ISLAND_MEMORIAL_PILLAR_BIG_PEARL {
	left: 93.23489932885906%;
	top: 49.984375%;
}
#HIDDEN_ITEM_FIVE_ISLAND_RESORT_GORGEOUS_NEST_BALL {
	left: 86.14765100671141%;
	top: 24.046875%;
}
#HIDDEN_ITEM_FIVE_ISLAND_RESORT_GORGEOUS_STARDUST_2 {
	left: 91.53467561521252%;
	top: 22.671875%;
}
#HIDDEN_ITEM_FIVE_ISLAND_RESORT_GORGEOUS_STARDUST {
	left: 89.02013422818791%;
	top: 25.0625%;
}
#HIDDEN_ITEM_FIVE_ISLAND_RESORT_GORGEOUS_STAR_PIECE {
	left: 91.08724832214764%;
	top: 25.0625%;
}
/*Six*/
#HIDDEN_ITEM_SIX_ISLAND_LEPPA_BERRY {
	left: 94.48769574944072%;
	top: 77.515625%;
}
#HIDDEN_ITEM_SIX_ISLAND_WATER_PATH_PINAP_BERRY {
	left: 98.49664429530202%;
	top: 81.515625%;
}
#HIDDEN_ITEM_SIX_ISLAND_WATER_PATH_ASPEAR_BERRY {
	left: 98.78299776286353%;
	top: 84.765625%;
}
#ITEM_SIX_ISLAND_WATER_PATH_DRAGON_SCALE {
	left: 99.06040268456375%;
	top: 87.546875%;
}
#HIDDEN_ITEM_SIX_ISLAND_WATER_PATH_ORAN_BERRY {
	left: 97.0648769574944%;
	top: 67.765625%;
}
#ITEM_SIX_ISLAND_WATER_PATH_ELIXIR {
	left: 99.06040268456375%;
	top: 70.546875%;
}
#ITEM_SIX_ISLAND_RUIN_VALLEY_SUN_STONE {
	left: 95.91051454138703%;
	top: 93.796875%;
}
#ITEM_SIX_ISLAND_RUIN_VALLEY_HP_UP {
	left: 90.46979865771812%;
	top: 94.046875%;
}
#ITEM_SIX_ISLAND_RUIN_VALLEY_FULL_RESTORE {
	left: 92.47427293064877%;
	top: 88.546875%;
}
#HIDDEN_ITEM_SIX_ISLAND_GREEN_PATH_ULTRA_BALL {
	left: 88.02684563758389%;
	top: 67.515625%;
}
#HIDDEN_ITEM_SIX_ISLAND_OUTCAST_ISLAND_STAR_PIECE {
	left: 88.62639821029083%;
	top: 51.28125%;
}
#ITEM_SIX_ISLAND_OUTCAST_ISLAND_PP_UP {
	left: 87.89261744966443%;
	top: 49.796875%;
}
#HIDDEN_ITEM_SIX_ISLAND_OUTCAST_ISLAND_NET_BALL {
	left: 87.08724832214764%;
	top: 51.921875%;
}
/*Seven*/
#HIDDEN_ITEM_SEVEN_ISLAND_SEVAULT_CANYON_ENTRANCE_RAWST_BERRY {
	left: 73.21700223713647%;
	top: 60.59375%;
}
#ITEM_SEVEN_ISLAND_SEVAULT_CANYON_NUGGET {
	left: 77.93288590604027%;
	top: 64.125%;
}
#ITEM_SEVEN_ISLAND_SEVAULT_CANYON_MAX_ELIXIR {
	left: 76.50111856823266%;
	top: 67.875%;
}
#ITEM_SEVEN_ISLAND_SEVAULT_CANYON_KINGS_ROCK {
	left: 78.07606263982103%;
	top: 69.625%;
}
#HIDDEN_ITEM_SEVEN_ISLAND_SEVAULT_CANYON_CHERI_BERRY {
	left: 77.65548098434004%;
	top: 74.84375%;
}
#ITEM_SEVEN_ISLAND_SEVAULT_CANYON_HOUSE_LUCKY_PUNCH {
	left: 77.50335570469798%;
	top: 73.59375%;
}
#HIDDEN_ITEM_SEVEN_ISLAND_TANOBY_RUINS_HEART_SCALE_4 {
	left: 69.79865771812081%;
	top: 79.46875%;
}
#HIDDEN_ITEM_SEVEN_ISLAND_TANOBY_RUINS_HEART_SCALE {
	left: 72.80536912751678%;
	top: 80.328125%;
}
#HIDDEN_ITEM_SEVEN_ISLAND_TANOBY_RUINS_HEART_SCALE_2 {
	left: 81.63758389261746%;
	top: 80.015625%;
}
#HIDDEN_ITEM_SEVEN_ISLAND_TANOBY_RUINS_HEART_SCALE_3 {
	left: 86.64876957494407%;
	top: 80.53125%;
}
#HIDDEN_ITEM_SEVEN_ISLAND_TRAINER_TOWER_NANAB_BERRY {
	left: 73.64653243847874%;
	top: 46.34375%;
}
#HIDDEN_ITEM_SEVEN_ISLAND_TRAINER_TOWER_PEARL {
	left: 71.82102908277405%;
	top: 45.859375%;
}
#HIDDEN_ITEM_SEVEN_ISLAND_TRAINER_TOWER_BIG_PEARL {
	left: 72.3400447427293%;
	top: 44.875%;
}
#scanner_scientist {
	left: 74.2102908277405%;
	top: 49.515625%;
}
#NPC_GIFT_GOT_SCANNER {
	left: 78.97986577181209%;
	top: 80.328125%;
}
/*Navel Rock*/
#HIDDEN_ITEM_NAVEL_ROCK_SUMMIT_SACRED_ASH {
	left: 56.75167785234899%;
	top: 83.375%;
}